/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[5].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].rules[1].use[1]!./src/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://use.typekit.net/gki7zvg.css);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[1].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[5].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].rules[1].use[1]!./src/styles.scss (1) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  color: #333333;
}
body {
  background-color: #e3e4db;
}
a {
  text-decoration: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.bullet {
  font-family: -webkit-pictograph monospace;
  display: inline-block;
  margin: 0 5px;
}
.show-imdb-link {
  margin-top: 1.5rem;
}
.show-imdb-link a {
  border: 2px solid;
  padding: 0 5px 1px;
  margin-right: 5px;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}
.show-imdb-link a:hover {
  background-color: rgba(252, 214, 56, 0.6);
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #d2d3c775;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-right: 4rem;
  align-items: center;
}
.header .header-title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.8rem;
}
.header .header-divider {
  width: 3px;
  height: 1.8rem;
  margin: 0 2rem;
}

/*# sourceMappingURL=styles.css.map*/