<div id="search-input">
  <p>Search show</p>
  <input
    type="text"
    placeholder="by title"
    #searchInput
    (input)="onSearchChange($event.target.value)"
  >
</div>

<div id="search-results" *ngIf="searchInput.value.length"
     [class.blur]="previewAddMode">
  <div *ngFor="let result of searchResults" class="search-result-wrapper"
       (click)="previewAddShow(result)">
    <div class="poster-wrapper" style="background-image: url('{{result.cover_url}}')"></div>
    <div class="data">
      <p class="year">
        <span>{{result.year}}</span>
        <a class="imdb_link" target="_blank" href="{{result.imdb_link}}">IMDB</a>
      </p>
      <p class="title">{{result.title}}</p>
      <p class="subscribe-status">
        {{result.subscribed ? 'Already Subscribed' : 'Add Show'}}
      </p>
    </div>
  </div>
</div>

<div *ngIf="previewAddMode" id="preview-add-show-wrapper">
  <div class="preview-poster-wrapper" style="background-image: url('{{previewShow.full_cover_url}}')"></div>
  <div class="preview-data">
    <p class="year">
      <span>{{previewShow.year}}</span>
      <a class="imdb_link" target="_blank" href="{{previewShow.imdb_link}}">IMDB</a>
    </p>
    <p class="title">{{previewShow.title}}</p>

    <div class="preview-actions">

      <ng-container *ngIf="!previewShow.subscribed else subscribed">
        <vestibule-loading-button>
          <button (click)="addShow(previewShow)"
          [ngClass]="{
            'loading': addLoading,
            'error': addError
          }">Add Show</button>
        </vestibule-loading-button>

        <p *ngIf="addAction" class="add-action">{{addAction}}</p>
      </ng-container>

      <ng-template #subscribed>
        <p class="already-subscribed">Already Subscribed</p>
        <a class="see-subscription" [routerLink]="['/shows', previewShow.imdb_id]">See Subscription</a>
      </ng-template>

      <ng-container *ngIf="!addLoading">
        <vestibule-loading-button>
          <button (click)="exitPreviewMode()" class="danger-zone-button"
          [ngClass]="{
            'loading': false,
            'error': false
          }">Back</button>
        </vestibule-loading-button>
      </ng-container>
    </div>
  </div>
</div>
