
#main-box {
    padding-top: 10rem;
    display: block;
}

#search-panel p {
    font-size: 2em;
    float: left;
}

#search-panel input {
    margin-left: 1rem;
    width: 18em;
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: #3f9359;
}

#searchResults {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.show-title {
    font-size: 1.5em;
}

.show-wrap {
    margin: 15px 0;
    display: flex;
    width: 45%;
}

.show-data-wrap {
    height: 10rem;
}

.subscribed-tag {
    margin-top: 4rem;
    border: 1px solid #3f9359;
    border-radius: 3px;
    padding: 3px 7px;
    display: inline-block;
    font-weight: 400;
    color: #3f9359;
}

.add-show-tag {
    margin-top: 4rem;
    color: #3f9359;
    transition: 0.3s;
}

.add-show-tag:hover {
    color: #6ac68a;
}

img.show-poster {
    border-radius: 3px;
    height: 10rem;
    float: left;
    margin-right: 1rem;
    max-width: 7rem;
}

