
.dashboard-models {
    margin-top: 7rem;
    padding-left: 3rem;
    display: flex;
}

.dashboard-model {
    margin-right: 3rem;
    width: 25rem;
    background-color: #d2d3c7;
    padding: 0 2rem 2rem;
}

.dashboard-model-title {
    font-size: 1.3em;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #C8C9C0;
}

.dashboard-model-entry {
    margin-bottom: 1rem;
}

.dashboard-model-time {
    font-size: 0.8em;
    font-weight: 200;
    color: #797974;
}

.torrent-download-status {
    color: #3f9359;
}

.torrent-feed {
    color: #797974;
}

.torrent-quality {
    color: #797974;
}