
#feeds-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 75vh;
}

.feed {
    height: 2rem;
    margin: 0.5rem;
    width: 20rem;
}

.feed-title {
    font-size: 1.2em;
    margin-bottom: 3px;
    transition: 0.3s;
}

.feed:hover .feed-title{
    transform: translate(8px, 0);
}

.feed:hover .feed-strip{
    width: 3rem;
}

.feed-strip {
    overflow: hidden;
    position: relative;
    height: 3px;
    width: 2rem;
    background-color: var(--secondary-color);
    transition: 0.3s;
    opacity: 0.6;
}

@media only screen and (max-width: 500px) {
    #feeds-list {
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 1rem;
        height: auto;
    }
}