
@media only screen and (max-width: 500px) {
    #side-panel {
        width: 100vw;
        height: 34px;
        padding: 4px 0;
        z-index: 10;
        background-color: rgba(225, 226, 214, 0.85);
    }

    #top-panel {
        margin: 2px 0 0 42px;
        font-size: 0.7em;
    }

#strip {
    height: 172px;
    width: 100vw;
    z-index: -4;
}

#strip-img {
    width: 120%;
    top: -15px;
    left: -10px;
    filter: blur(10px);
    height: 220px;
}

#strip-cover {
    height: 130px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 42px;
    z-index: 4;
    background: linear-gradient(180deg, rgba(227,228,219,0.7) 0%, rgba(227,228,219,1) 100%);
}

    #main-box {
        margin: 55px 5px 0 5px;
    }

    #main-links-box {
        display: none;
        position: fixed;
        z-index: 10;
        width: 100vw;
        top: 42px;
        background-color: #797974;
    }

    .side-panel-links {
        padding: 0 0 0 50px;
        color: #e3e4db;
    }

    .side-panel-divider {
        width: calc(100% - 6rem);
        margin: 1rem 3rem;
    }

    .side-panel-links:first-child{
        margin-top: 2rem;
    }

    .side-panel-links:last-child {
        margin-bottom: 2rem;
    }

    .side-panel-section-header {
        color: #aaaca5;
    }

    #services-status-box {
        right: 0;
        left: auto;
        width: 104px;
        padding: 0;
        height: 42px;
        top: 0;
        background-color: transparent;
    }

    .service-icon {
        height: 25px;
        margin-top: 5px;
    }

    .service-status-bar {
        top: auto;
        bottom: 0;
    }

    .service-wrap {
        padding: 4px;
        width: 2.5rem;
    }

    #main-panel {
        padding-left: 0;
    }

#mobile-menu-btn {
    display: block;
    position: absolute;
    height: 34px;
    width: 25px;
    top: 6px;
    left: 0;
}

#mobile-menu-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #797974;
    margin-top: 6px;
}

.messages {
    bottom: 1rem;
    left: 1rem;
    width: 80vw;
}

.message-wrap {
    background-color: #e3e4db;
}

}