
:root {
    --main-color: #e3e4db;
    --secondary-color: #C8C9C0
}

* {
    padding: 0;
    margin: 0;
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    color: #333333;
}

body {
    background-color: #e3e4db;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.bullet {
    font-family: -webkit-pictograph monospace;
    display: inline-block;
    margin: 0 4px;
}

.fas {
    font-size: 0.8em;
}

#main-box {
    margin: 6.5rem 0 0 16rem;
}

#main-panel {
    padding-left: 3rem;
    position: relative;
}

#side-panel {
    width: 12.5rem;
    padding: 2rem 0 0 2.5rem;
    background-color: #d2d3c7;
    height: calc(100vh - 2rem);
    position: fixed;
    left: 0;
    top: 0;
}

#top-panel {
    margin-bottom: 3rem;
}

.side-panel-divider {
    background-color: var(--main-color);
    height: 3px;
    width: 85%;
    margin: 2rem 0;
    transition: 0.4s;
}

#strip {
    width: 1rem;
    opacity: 0.5;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0rem;
    top: 0;
}

#strip-img {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(5px);
    filter: blur(7px);
    height: 106%;
    width: 8rem;
    position: absolute;
    left: -3.5rem;
    top: -20px;
}

.acier-title {
    font-family: acier-bat-noir, sans-serif;
    font-size: 2.5em;
}

.side-panel-section-header {
    font-size: 0.85em;
    margin-bottom: 10px;
    color: #959692;
}

.side-panel-links {
    padding: 0 0 0 0.5rem;
}

.side-panel-link {
    font-size: 1.1em;
    margin: 5px 0;
    transition: 0.3s;
    display: block;
}

.side-panel-link:hover {
    color: #757575;
    transform: translate(4px, 0);
}

#actions {
    position: absolute;
    bottom: 16rem;
    font-family: monospace;
}

#services-status-box {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    background-color: #C8C9C0;
    padding-left: 1rem;
}

.service-wrap {
    padding: 0.7rem;
    width: 3rem;
    position: relative;
}

.service-icon {
    display: block;
    height: 35px;
    margin: 3px auto 0;
    opacity: 0.5;
    transition: 0.3s;
}

.service-wrap:hover.service-active .service-icon {
    opacity: 1;
}

.service-status-bar {
    background-color: #7f7f7f;
    transition: background-color 0.3s linear;
    height: 3px;
    width: 65%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 40;
}

.service-up .service-status-bar {
    background-color: #3f9359;
}

.service-down .service-status-bar {
    background-color: #AF4F68;
}

.messages {
    position: fixed;
    top: 1rem;
    left: 19rem;
}

.message-wrap {
    border: solid 3px #333;
    border-left: solid 13px;
    padding: 10px;
    width: calc(100% - 2rem);
    margin: 10px 0;
}

.in-line-icon {
    font-size: 1.2em;
    color: inherit;
}
