
* {
    padding: 0;
    margin: 0;
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    color: #333333;
}

body {
    background-color: #e3e4db;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fas {
    font-size: 0.8em;
}

#main-box {
    margin-left: 24rem;
    width: calc(100vw - 24rem);
}

#main-panel {
    padding: 3rem;
    margin: 1rem 0 0 2rem;
    max-height: calc(100vh - 12rem);
    position: relative;
    min-width: 950px;
    max-width: 1200px;
}

#side-panel {
    width: 20rem;
    padding: 4rem 0 0 4rem;
    background-color: #d2d3c7;
    height: calc(100vh - 4rem);
    position: fixed;
    left: 0;
    top: 0;
}

#strip {
    width: 14px;
    opacity: 0.5;
    margin-top: 11rem;
    height: 69vh;
    overflow: hidden;
    position: fixed;
    left: 24rem;
    top: 0;
}

#strip-img {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(5px);
    filter: blur(7px);
    height: 106%;
    width: 8rem;
    position: absolute;
    left: -3.5rem;
    top: -20px;
}

.acier-title {
    font-family: acier-bat-noir, sans-serif;
    font-size: 3em;
    margin: 1rem 0;
}

#subscription-list {
    padding: 3rem 0 0 1rem;
}

.subscription {
    font-size: 1.3em;
    margin: 5px 0;
    transition: 0.3s;
    display: block;
}

.subscription:hover {
    color: #757575;
    transform: translate(4px, 0);
}

#actions {
    position: absolute;
    bottom: 16rem;
    font-family: monospace;
}

#services-status-box {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 24rem;
    display: flex;
    justify-content: center;
    background-color: #C8C9C0;
}

.service-wrap {
    padding: 0.7rem;
    width: 3rem;
    position: relative;
}

.service-icon {
    display: block;
    height: 35px;
    margin: 3px auto 0;
    opacity: 0.5;
    transition: 0.3s;
}

.service-wrap:hover .service-icon {
    opacity: 1;
}

.service-status-bar {
    height: 3px;
    width: 65%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 40;
}

.service-up .service-status-bar {
    background-color: #3f9359;
}

.service-down .service-status-bar {
    background-color: #AF4F68;
}

.messages {
    position: absolute;
    bottom: 6rem;
    left: 3rem;
    width: 19rem;
}

.message-wrap {
    border: solid 3px #333;
    border-left: solid 13px;
    padding: 10px;
    width: calc(100% - 2rem);
    margin: 10px 0;
}

.in-line-icon {
    font-size: 1.2em;
    color: inherit;
}

.subscriptions-action {
    transition: 0.3s;
    font-family: acier-bat-solid, sans-serif;
    font-size: 1.3em;
    display: block;
}

.subscriptions-action:hover {
    color: #757575;
    transform: translate(4px, 0);
}
