
#show-main-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#show-data-panel {
    width: 34rem;
    margin-right: 4rem;
}

.show-header {
    font-size: 2.3em;
    font-weight: 500;
}

.show-header img {
    height: 16px;
    margin: 0 11px 4px 0;
}

.show-details {
    margin-top: 8px;
}

.show-status {
    margin-top: 2rem;
}

.show-status-line {
    font-weight: 100;
}

.show-next-episode-line {

}
.seasons-bar {
    width: 100%;
    position: relative;
}

.seasons {
    width: 100%;
    display: flex;
}

.season-bar {
    font-size: 1.18em;
    color: #A4A5A0;
    border-bottom: solid 3px var(--main-color);
    padding: 0 20px 8px;
    transition: 0.3s;
    cursor: pointer;
}

.season-bar p {
    color: inherit;
}

#seasons-filler-bar {
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    z-index: -2;
}

.season-bar:hover {
    color: #333333;
}

.chosen-season {
    color: #333333;
    border-bottom: solid 3px #333333;
}

.season-torrents {
    display: none;
}

.chosen-season-torrents {
    display: block;
}

#torrents-panel {
    margin: 6rem 2rem 0 0;
    width: 42rem;
}

.torrents-by-season {
    overflow-y: scroll;
    max-height: calc(100vh - 16rem);
}


.episode-divider {
    background-color: #d2d3c7;
    margin-top: 36px;
    padding: 8px 10px;
}

.torrent-box {
    margin: 15px 0;
    border: solid 3px #333;
}

.torrent-info {
    font-size: 1.1em;
    font-weight: 400;
    background-color: #333;
    color: #e3e4db;
    display: flex;
    padding: 6px;
    min-height: 70px;
    justify-content: space-between;
}

.torrent-title {
    width: 42%;
    padding: 7px 23px 0 0;
    word-wrap: break-word;
    position: relative;
}

.torrent-title-text {
    color: #e3e4db;
}

.torrent-title-full {
    color: #797974;
    font-weight: 100;
    font-size: 0.65em;
    margin-top: 10px;
    position: absolute;
    top: 25px;
    max-width: 88%;
}

.torrent-tags {
    padding-top: 5px;
}

.torrent-tag {
    display: inline-block;
    border-right: 1px solid #e3e4db;
    padding: 0 6px 1px;
    color: #e3e4db;
    font-size: 0.7em;
    font-weight: 400;
}

.torrent-tag:last-child {
    border: none;
}

.torrent-publication-time {
    display: inline-block;
    padding: 0 6px 1px;
    color: #797974;
    font-size: 0.7em;
    font-weight: 100;
}

.torrent-download {
    display: flex;
    height: 30px;
    justify-content: flex-end;
    width: 9rem;
    align-items: center;
    margin-top: 20px;
}

.torrent-download-status {
    color: #e3e4db;
    font-weight: 500;
    margin-right: 3px;
    font-size: 0.9em;
    transition: 0.2s;
}

.torrent-download-status-ready,
.torrent-download-status-downloading {
    color: #3f9359;
}

.torrent-download:hover .torrent-download-status {
    color: #3f9359;
}

.torrent-download-icon {
    height: 30px;
}

.torrent-download-bar {
    width: 100%;
    height: 15px;
}