
#show-main-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#show-data-panel {
    width: 38rem;
    margin-right: 4rem;
}

.show-header {
    font-size: 2.3em;
    font-weight: 500;
}

.show-header img {
    height: 16px;
    margin: 0 11px 4px 0;
}

.show-details {
    margin-top: 8px;
}

.show-status {
    margin-top: 2rem;
}

.show-status-line {
    font-weight: 100;
}

.show-next-episode-line {

}
.seasons-bar {
    width: 100%;
    position: relative;
}

.seasons {
    width: 100%;
    display: flex;
}

.season-bar {
    font-size: 1.1em;
    color: #A4A5A0;
    border-bottom: solid 3px var(--main-color);
    padding: 0 20px 8px;
    transition: 0.3s;
    cursor: pointer;
}

.season-bar p {
    color: inherit;
}

#seasons-filler-bar {
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    z-index: -2;
}

.season-bar:hover {
    color: #333333;
}

.chosen-season {
    color: #333333;
    border-bottom: solid 3px #333333;
}

.season-torrents {
    display: none;
}

.chosen-season-torrents {
    display: block;
}

#torrents-panel {
    margin: 3rem 4rem 0 0;
    width: 38rem;
}

.torrents-by-season {
    overflow-y: scroll;
    max-height: calc(100vh - 16rem);
}


.episode-divider {
    margin-top: 36px;
    padding: 3px 10px;
    border-left: 3px solid #d2d3c7;
}

.torrent-box {
    margin: 12px 0;
    justify-content: left;
    display: none;
}

.best-match {
    display: flex;
}

.show-all-matches {
    cursor: pointer;
    transition: 0.3s;
    color: #a1a296;
}

.torrent-profile-match {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #3f9359;
    border-radius: 50%;
    margin-right: 5px;
}

.show-all-matches:hover {
    color: #3f9359;
}

.torrent-info {
    font-size: 1.1em;
    font-weight: 400;
    background-color: #333;
    color: #e3e4db;
    padding: 6px 6px 6px 10px;
    min-height: 60px;
    position: relative;
    width: 100%;
}

.torrent-title {
    padding: 7px 23px 0 0;
    font-size: 0.9em;
    color: #d2d3c7;
}

.torrent-title-full {
    color: #797974;
    font-weight: 100;
    font-size: 0.65em;
    margin-top: 10px;
    top: 25px;
    max-width: 88%;
}

.torrent-tag {
    color: #a4a59c;
    font-size: 0.8em;
}

.torrent-tag-bullet {
    color: #7f7f7f;
    font-size: 0.8em;
}

.torrent-publication-time {
    color: #797974;
    font-size: 0.7em;
    font-weight: 100;
}

.torrent-download {
    position: absolute;
    right: 10px;
    top: 14px;
}

.torrent-download-status {
    color: #e3e4db;
    font-weight: 500;
    margin-right: 3px;
    font-size: 0.8em;
    transition: 0.2s;
}

.torrent-download-status-ready,
.torrent-download-status-downloading {
    color: #3f9359;
}

.torrent-download:hover .torrent-download-status {
    color: #3f9359;
}

.torrent-download-icon {
    height: 30px;
    opacity: 0.6;
    margin-top: 20px;
    transition: 0.3s;
}

.torrent-actions {
    width: 30px;
    background-color: #C8C9C0;
    position: relative;
}

.torrent-action {
    height: 100%;
    transition: 0.3s;
}

.torrent-action:hover {
    background-color: #3f9359;
}

.torrent-downloaded {
    background-color: #3f9359;
}

.torrent-progress {
    position: absolute;
    height: 0;
    background-color: #3f9359;
    width: 100%;
    bottom: 0;
}

.torrent-action:hover .torrent-download-icon {
    opacity: 1;
}

.show-profile {
    margin-top: 4.4rem;
    border-top: solid 3px var(--main-color);
    border-bottom: solid 3px var(--main-color);
    padding: 1rem 0;
}

#profile-options {
    display: none;
    margin: 12px 0 0 1rem;
    border-left: 3px solid #d2d3c7;
    padding-left: 15px;
}

.show-section-header {
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
}

.show-section-header:hover {
    color: #757575;
    transform: translate(4px, 0);
}

.option-name {
    font-weight: 100;
}

.profile-option {
    margin: 3px 0;
}