{% extends "main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/feed_details.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block main_panel %}
    <div class="feed-header">{{ feed.name }}</div>

    <div id="feed-data">
        {% for feed_item in feed_data %}
            <div class="feed-item-data">
                <a class="feed-item-title" href="{{ feed_item.link }}">{{ feed_item.raw_title }}</a>
                <p class="feed-item-publication-time">{{ feed_item.publication_time }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
