<section id="movies-status-list">
  <div class="movie-list">
    <a *ngFor="let movie of movies">
      <div class="movie" (mouseenter)="movieHover(movie)">
        <div class="poster-wrap">
          <div *ngIf="movie?.poster_link" class="poster" style="background-image: url('{{movie.poster_link}}')"></div>
        </div>
        <div class="data">
          <p class="title">{{ movie.title }}</p>
          <vestibule-poster-strip [width]="'6rem'" [palette]="movie.palette_list"></vestibule-poster-strip>
          <p class="release-date">{{ movie.release_date_text }}</p>
          <div class="release-data">
            <p class="status">{{ movie.status }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
