<section id="movies-status-list">
  <vestibule-movies-status-group
    [title]="'Rumored'"
    [movieList]="rumoredMovies">
  </vestibule-movies-status-group>

  <vestibule-movies-status-group
    [title]="'Planned'"
    [movieList]="plannedMovies">
  </vestibule-movies-status-group>

  <vestibule-movies-status-group
    [title]="'In Production'"
    [movieList]="inProductionMovies">
  </vestibule-movies-status-group>

  <vestibule-movies-status-group
    [title]="'Post Production'"
    [movieList]="postProductionMovies">
  </vestibule-movies-status-group>

  <vestibule-movies-status-group
    [title]="'Released'"
    [movieList]="releasedMovies">
  </vestibule-movies-status-group>

  <vestibule-movies-status-group
    [title]="'Canceled'"
    [movieList]="canceledMovies">
  </vestibule-movies-status-group>
</section>

