{% extends "main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <script src="{% static "js/show_list.js" %}"></script>
{% endblock %}

{% block main_panel %}

    <div class="dashboard-models">
        <div class="dashboard-model">
            <p class="dashboard-model-title">Upcoming Episodes</p>
            <div class="dashboard-model-entries">
                {% for show in upcoming_shows %}
                    <a href="{% url "shows:details" slug=show.slug %}">
                    <div class="dashboard-model-entry">
                        <div class="poster-strip">
                            <img onload="update_show_palette(this)" class="strip-img" src="{{ show.thumbnail_link }}" hidden>
                        </div>
                        <p class="dashboard-model-entry-title">{{ show.title }}</p>
                        <p class="dashboard-model-entry-text">{{ show.next_episode }}</p>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="dashboard-model">
            <p class="dashboard-model-title">Recent Activity</p>
            <div class="dashboard-model-entries">
            {% for show in recent_activity %}
                <a href="{% url "shows:details" slug=show.slug %}">
                <div class="dashboard-model-entry">
                    <div class="poster-strip">
                        <img onload="update_show_palette(this)" class="strip-img" src="{{ show.thumbnail_link }}" hidden>
                    </div>
                    <p class="dashboard-model-entry-title">{{ show.title }}
                        {% for torrent in show.last_active_torrents %}
                            <p class="dashboard-model-entry-text">{{ torrent.season_episode_title }}
                                <span class="bullet">•</span>
                                <span>{{ torrent.quality }}</span>
                                <span class="bullet">•</span>
                                <span class="torrent-download-status">{{ torrent.download_status_display }}</span>
                            </p>
                            <p class="dashboard-model-time">{{ torrent.modified|date:"F j, Y, G:i" }}</p>
                        {% endfor %}
                    </p>
                </div>
                </a>
            {% endfor %}
            </div>
        </div>

    <div class="dashboard-model">
            <p class="dashboard-model-title">Recently Found Torrents</p>
            <div class="dashboard-model-entries">
            {% for show in recently_found %}
                <a href="{% url "shows:details" slug=show.slug %}">
                <div class="dashboard-model-entry">
                    <div class="poster-strip">
                        <img onload="update_show_palette(this)" class="strip-img" src="{{ show.thumbnail_link }}" hidden>
                    </div>
                    <p class="dashboard-model-entry-title">{{ show.title }}
                        {% for torrent in show.last_found_torrents %}
                            <p class="dashboard-model-entry-text">{{ torrent.season_episode_title }}
                                <span class="bullet">•</span>
                                <span>{{ torrent.quality }}</span>
                                <span class="bullet">•</span>
                                <span>{{ torrent.feed }}</span>
                            </p>
                            <p class="dashboard-model-time">{{ torrent.created|date:"F j, Y, G:i" }}</p>
                        {% endfor %}
                    </p>
                </div>
                </a>
            {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
