{% extends "main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
{% endblock %}

{% block main_panel %}
    <div class="dashboard-models">
        <div class="dashboard-model">
            <p class="dashboard-model-title">Recent Activity</p>
            {% for torrent in recent_activity %}
                <a href="{% url "shows:details" slug=torrent.show.slug %}">
                <div class="dashboard-model-entry">
                    <p class="dashboard-model-line">{{ torrent.short_title }} <span class="bullet">•</span>
                        <span class="torrent-download-status">{{ torrent.download_status_display }}</span>
                    </p>
                    <p class="dashboard-model-time">{{ torrent.modified|date:"F j, Y, G:i" }}</p>
                </div>
                </a>
            {% endfor %}
        </div>

        <div class="dashboard-model">
            <p class="dashboard-model-title">Recently Found Torrents</p>
            {% for torrent in recently_found %}
                <a href="{% url "shows:details" slug=torrent.show.slug %}">
                <div class="dashboard-model-entry">
                    <p class="dashboard-model-line">{{ torrent.short_title }} <span class="bullet">•</span>
                        <span class="torrent-feed">{{ torrent.feed }}</span>
                    </p>
                    <p class="dashboard-model-time">{{ torrent.created|date:"F j, Y, G:i" }}</p>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
