{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vestibule</title>
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
    <link rel="stylesheet" href="https://use.typekit.net/gki7zvg.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block head %}{% endblock head %}
</head>
<body>

        <section id="side-panel">
            <section id="top-panel">
                <a href="{% url 'home' %}" class="acier-title">VESTIBULE</a>
            </section>

            <section class="side-panel-links">
                <a href="{% url 'shows:list' %}" class="side-panel-link">Shows</a>
                <a href="{% url 'shows:list' %}" class="side-panel-link">Feeds</a>
                <a href="{% url 'shows:list' %}" class="side-panel-link">Torrents</a>
            </section>

            <div class="side-panel-divider"></div>

            <section class="side-panel-links">
                <a href="{% url 'shows:add-show' %}" class="side-panel-link">Add Show</a>
            </section>

            {% block page_actions %} {% endblock page_actions %}

            <section id="services-status-box"></section>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message-wrap">
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        </section>

        <div id="strip">
            {% block strip %}
                <img id="strip-img" src="{% static "images/default_strip.jpg" %}" crossorigin="anonymous">
            {% endblock strip %}
        </div>

    <div id="main-box">

        <section id="main-panel">
            {% block main_panel %}
            {% endblock main_panel %}
        </section>

    </div>

    <script src="{% static "js/services_status.js" %}"></script>
    <script src="{% static "js/palette.js" %}"></script>
</body>
</html>