{% extends "main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/add_show.css" %}">
    <script src="{% static "js/add_show.js" %}"></script>
{% endblock %}

{% block main_panel %}
    <div id="add-show-main-panel">
        <section id="search-panel">
            <p>Search show</p>
            <input type="text" id="search-term" placeholder="by title" onkeyup="search_show()">
            <div id="search-panel-strip"></div>
        </section>

        <section id="searchResults">
            <div class="search-result">
                <p class="show-title"></p>
            </div>
        </section>

        <form id="new-show-form" method="post" hidden>{% csrf_token %}
            <div id="inputName">{{ form.imdb_id }}</div>
            <input id="submitScore" type="submit">
        </form>
    </div>
{% endblock %}
