{% extends "main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/show_details.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "js/show_details.js" %}"></script>
{% endblock %}

{% block strip %}
    <img id="strip-img" src="{{ show.poster_link }}">
{% endblock strip %}

{% block main_panel %}

    <div id="show-top-panel">
        <div class="show-header">{{ show.title }}</div>

        <p class="show-details">
            <span>{{ show.year }}</span>
            <span class="bullet">•</span>
            <span>{{ show.runtime }}m</span>
            <span class="bullet">•</span>
            <span>{{ show.number_of_seasons }} Season{{ show.number_of_seasons|pluralize:"s" }}</span>
        </p>
    </div>

    <div id="show-actions-panel">
        <a class="show-action" href="{% url 'shows:find-torrents' title=show.slug %}">Find New Torrents</a>
    </div>

    <div id="torrents-panel">

        {% if not show.seasons %}
            <div class="message-wrap">
                <p>No Torrents found yet</p>
            </div>
        {% endif %}

        <div>
            <div class="seasons-bar">
                <div class="seasons">
                {% for season in show.seasons.keys %}
                    <div class="season-bar {% if forloop.first %}chosen-season{% endif %}"
                         data-season-number="{{ season }}"
                         onclick="choose_season(this)">
                        <p>Season {{ season }}</p>
                    </div>
                {% endfor %}
                </div>
                <div id="seasons-filler-bar"></div>
            </div>

            <div class="torrents-by-season">

                {% for season, epidoses in show.seasons.items %}
                    <div class="season-torrents {% if forloop.first %}chosen-season-torrents{% endif %}" id="torrents-season-{{ season }}">

                        {% for episode, torrents in epidoses.items %}
                            <div class="episode-divider">
                            {% if episode %}
                                <p>Episode {{ episode }}</p>
                            {% else %}
                                <p>Full Season</p>
                            {% endif %}
                            </div>

                            {% for torrent in torrents %}
                                <div class="torrent-box">
                                    <div class="torrent-info">
                                        <div class="torrent-title">
                                                <p class="torrent-title-text">{{ torrent.short_title }}</p>
                                                <p class="torrent-title-full">{{ torrent.title }}</p>
                                        </div>

                                        <div class="torrent-tags">
                                            <p>
                                                <span class="torrent-tag">{{ torrent.feed }}</span>
                                                <span class="torrent-tag">{{ torrent.quality }}</span>
                                            </p>
                                            <p>
                                                <span class="torrent-publication-time">{{ torrent.publication_time }}</span>
                                            </p>
                                        </div>

                                        <a href="{% url 'torrents:download-torrent' torrent_id=torrent.id %}">
                                            <div class="torrent-download">
                                                <p class="torrent-download-status
                                                          torrent-download-status-{{ torrent.download_status_display|lower }}">
                                                    {{ torrent.download_status_display }}
                                                </p>
                                                <img src="{% static "images/torrent_download_icon.svg" %}"
                                                     alt="{{ torrent.download_status_display }}"
                                                     class="torrent-download-icon"
                                                >
                                            </div>
                                        </a>
                                    </div>

                                    <div class="torrent-download-bar"></div>

                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}
