<section id="shows-status-list">
  <div *ngIf="noShows" class="no-shows">
    <p>This is where you'll find all the Shows you've subscribed to,</p>
    <p>but it seems you don't have any subscriptions yet.</p>
    <br/>
    <p>Try finding a new show on <a [routerLink]="'/find/results'">Find</a></p>
  </div>

  <vestibule-shows-status-group
    [title]="'Continuing'"
    [showList]="continuingShows">
  </vestibule-shows-status-group>

  <vestibule-shows-status-group
    [title]="'Upcoming'"
    [showList]="upcomingShows">
  </vestibule-shows-status-group>

  <vestibule-shows-status-group
    [title]="'Ended'"
    [showList]="endedShows">
  </vestibule-shows-status-group>

</section>
