#shows-status-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 100%;
  overflow-y: auto;
}

.no-shows {
  font-size: 1.1em;
  color: #33333360;
  margin-top: 5rem;

  p {
    color: inherit;
  }

  a {
    color: #333333;
  }
}
