@import "../../../styling/variables";

.show-title {
  font-size: 2.3em;
  font-weight: 500;
}

.show-title-tags {
  margin-bottom: 1.5rem;
}

.show-status-line {
  font-weight: 100;
}

.show-imdb-link {
  margin-top: 1.5rem;

  a {
    border: 2px solid;
    padding: 0 5px 1px;
    margin-right: 5px;
    text-decoration: none;
    transition: 0.2s;
    display: inline-block;

    &:hover {
      background-color: rgba(252, 214, 56, 0.6);
    }
  }
}

.danger-zone-actions {

  margin-top: 1.5rem;

  p {
    font-size: 0.9em;
    color: $value-false;
    margin-bottom: 5px;
  }
}

.danger-zone-confirm {
  margin-left: 1rem;
  border-left: 3px solid $unselected;
  padding-left: 10px;

  .danger-zone-text p {
    color: #333333;

    b {
      color: $value-false;
      font-weight: 500;
    }
  }

  .danger-zone-confirm-yes,
  .danger-zone-confirm-cancel {
    border: none;
    background: none;
    font-size: 0.9em;
    margin-right: 15px;
    font-weight: 500;
    border-bottom: 3px solid;
    margin-top: 10px;
    padding-bottom: 3px;
    transition: 0.2s;
  }

  .danger-zone-confirm-yes {
    color: $value-false;

    &:hover {
      color: $value-false-hover;
    }
  }

  .danger-zone-confirm-cancel {
    color: $value-true;

    &:hover {
      color: $value-true-hover;
    }
  }
}
