@import "../../../styling/variables";

#preview-wrap {
  display: flex;
  padding-top: 0.9rem;
  margin-bottom: 3rem;
}

.poster-wrap {
  transition: background-color 0.1s linear;
  position: relative;
  border-radius: 0.2rem;

  .poster {
    width: 12rem;
    height: 18rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
  }
}

.details-wrap {
  padding-left: 3rem;
  padding-top: 1.5rem;
  position: relative;

  .show-title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  .details {
    display: flex;

    .subscription-link {
      color: $unselected;
      position: absolute;
      bottom: 2rem;
      border-bottom: 3px solid $unselected;
      padding-bottom: 5px;
      opacity: 0.6;
      transition: 0.3s linear;

      &:hover {
        opacity: 1;
      }
    }

    .status {
      margin-right: 3rem;
      width: 17rem;

      .next-episode-line {
        font-size: 0.9em;
        font-weight: 400;
        color: $unselected-dark;
      }

      .season-status-line {
        font-size: 0.9em;
        font-weight: 200;
        color: $unselected-dark;
      }
    }

    .torrents {
      font-size: 0.9em;
      color: $unselected-dark;

      .torrent-wrap {
        display: flex;
        margin-bottom: 0.3rem;
        border-radius: 0.6rem;
        background-color: $unselected-transparent;

        .title {
          cursor: default;
          width: 3.5rem;
          font-size: 0.9em;
          padding: 0 0.4rem;
          text-align: center;
          color: $unselected-dark;
        }
      }
    }
  }
}
