<section id="panel">

  <div id="vestibule-home">
    <a href="/" class="acier-title">VESTIBULE</a>
  </div>

  <div id="main-links-box">

      <section class="side-panel-links">
          <a href="/" class="side-panel-link">Shows</a>
          <a href="/" class="side-panel-link">Feeds</a>
          <a href="/" class="side-panel-link">Torrents</a>
      </section>

      <div class="side-panel-divider"></div>

      <section class="side-panel-links">
          <a href="/" class="side-panel-link">Add Show</a>
      </section>

  </div>

</section>

<div id="strip">
  <img alt="Vestibule" id="strip-img" src="/static/images/vestibule_default-13.jpg" crossorigin="anonymous">
  <div id="strip-cover"></div>
</div>
