$main-color: #e3e4db;
$secondary-color: #C8C9C0;
$transparent-light: #e1e2d666;
$transparent-semi-light: rgba(225, 226, 214, 0.65);
$torrent-green: #50ad6f;
$torrent-green-hover: #2e7243;
$value-true-hover: #206f38;
$value-true: #3f9359;
$value-false: #AF4F68;
$value-false-hover: #972945;
$value-neutral: #0071bc;
$main-back: #e3e4db;
$main-back-dark: #bfbfb8;
$unselected: #a4a5a0;
$unselected-dark: #747470;
$unselected-transparent: rgba(164, 165, 160, 0.2);
$skip: #edbf3b;
$black: #333;
$light-text: #d2d3c7;
