
.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 0 2rem 2rem 0;
  width: 10rem;
}

.poster-wrap {
  transition: background-color 0.1s linear;
  position: relative;
  border-radius: 0.2rem;
  margin-bottom: 0.6rem;

  .poster {
    width: 10rem;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
  }
}

.year {
  font-weight: 200;
  margin-top: 0.4rem;
}
