<div class="movie-list-group">
  <p class="movie-list-status" *ngIf="movieList">{{ title }}</p>

  <div class="movie-list">
    <a *ngFor="let movie of movieList">
      <div class="movie">
        <div class="poster-wrap">
          <div *ngIf="movie?.poster_link" class="poster" style="background-image: url('{{movie.poster_link}}')"></div>
        </div>
        <vestibule-poster-strip [width]="'10rem'" [palette]="movie.palette_list"></vestibule-poster-strip>
        <p class="year">{{ movie.year }}</p>
        <p class="year">{{ movie.status }}</p>
        <p class="title">{{ movie.title }}</p>
      </div>
    </a>
  </div>
</div>
